.idea/        # игнорирует настройки PyCharm / IntelliJ
__pycache__/  # игнорирует скомпилированные байт-коды Python

venv/         # игнорирует твою виртуальную среду
.env/         # игнорирует альтернативное имя виртуалки (иногда так создают)

*.pyc         # игнорирует отдельные .pyc файлы (если вдруг не в __pycache__)
*.log         # игнорирует любые логи
